.form {
    width: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    margin-top: 40px
}
.search {
    width: 70%;
    border: 3px solid grey;
    border-right: none;
    padding: 5px;
    height: 20px;
    border-radius: 5px 0 0 5px;
    outline: none;
}
.searchButton {
    height: 36px;
    border: 1px solid grey;
    background: grey;
    text-align: center;
    color: #fff;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
    font-size: 20px;
}

