.container {
    width: 100%;
    color: #282828;
    text-align: center;
}
.col-6{
    width: 48%;
    padding: 10px;
    display: inline-block;
    float: left;
}
.text-left{
    text-align: left;
    padding-left: 20px;
}
.playButton{
    cursor: pointer;
    background: #6e8efb;
    border: 2px solid #6e8efb;
    width: 180px;
    padding: 10px 5px;
    border-radius: 5px;
    color: white;
}
@media screen and (max-width: 600px) {
    .col-6 {
        width: 100%;
        float: none;
    }
}